<div class="tab-content hidden" id="bookings_on_my_artworks">
  <div class="list">
    <% if @bookings_on_my_artworks != [] %>
      <% pending_bookings = @bookings_on_my_artworks.select { |hash| hash[:status] == "Pending"} %>
      <% confirmed_bookings = @bookings_on_my_artworks.select { |hash| hash[:status] == "Confirmed"} %>
      <% refused_bookings = @bookings_on_my_artworks.select { |hash| hash[:status] == "Refused"} %>
      <% pending_bookings.sort { |hash| hash[:starts_on] }.each do |booking_on_my_artworks| %>
        <%= render 'create_cards_boma', booking_on_my_artworks: booking_on_my_artworks %>
      <% end %>
      <% confirmed_bookings.sort { |hash| hash[:starts_on] }.each do |booking_on_my_artworks| %>
        <%= render 'create_cards_boma', booking_on_my_artworks: booking_on_my_artworks %>
      <% end %>
      <% refused_bookings.sort { |hash| hash[:starts_on] }.each do |booking_on_my_artworks| %>
        <%= render 'create_cards_boma', booking_on_my_artworks: booking_on_my_artworks %>
      <% end %>
    <% else %>
      <div class="product">
        <div class='product-div'>
          <h3> No bookings on my artworks yet.</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>