<div class="container text-center">
  <h1 class="dashboard-title">My <span class="minted">art</span>board</h1>
</div>
<div class="container text-center">
  <div class="tabs">
    <a class="tab active" data-target="#bookings">
      <h3>MY BOOKINGS</h3>
    </a>
    <a class="tab" data-target="#artworks">
      <h3>MY ARTWORKS</h3>
    </a>
    <a class="tab" data-target="#bookings_on_my_artworks">
      <h3>BOOKINGS ON MY ARTWORKS</h3>
    </a>
  </div>
</div>

<div class="container">

  <%= render "my_bookings" %>
  <%= render "my_artworks" %>
  <%= render "bookings_on_my_artworks" %>

</div>