.review-stars {
	color: #FFB400;
}

#art-picture img {
	max-width: 100%;
	max-height: 500px;
}

.center-element {
	display: flex;
	align-items: center; 
}

.padded {
	padding: 10px 0;
}

.description {
	text-align: justify;
	margin-bottom: 30px;
}
.map {
	padding: 10px 0;
}

#center-picture {
	// display: flex;
	// align-items: center;
}