
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-rec {
  width: 100px;

}
div.centerpanel {
text-align: center;
}
.leftpanel {
display:inline-block;
width:50%;
}
.rightpanel {
display:inline-block;
width:50%;
}
.padded {
  padding-top: 40px;
}
h5 {
}
