<%= simple_form_for [@artwork, @booking] do |f| %>
	<%= f.error_notification %>
	<div class="input-daterange input-group" id="datepicker">
		<input type="text" class="input-sm form-control" id="start_date" name="booking[starts_on]" placeholder="starts"/>
		<span class="input-group-addon">to</span>
		<input type="text" class="input-sm form-control" id="end_date" name="booking[ends_on]" placeholder="ends"/>
	</div>
	<br>
	<strong>Total price: </strong><span id="total_price"></span>

	<%= f.input :price, as: :hidden %>
<%= f.submit "Book now", class: "btn btn-booking" %>
<% end %>