<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-6 text-right" >
            <ul class="list-inline">
             <li> <%= link_to("about us", about_path )%> <li>
            <li> <%= link_to("contact", contact_path )%>  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>


