<div id="footer">
<img src="you_n_art_white.png" alt="">
  <div id="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6 text-center">
          <ul class="list-inline">
           <li>
             <a href="#"><i class="icon-ok fa fa-facebook"></i></a>
           </li>
           <li>
             <a href="#"><i class="icon-ok fa fa-instagram"></i></a>
           </li>
           <li>
             <a href="#"><i class="icon-ok fa fa-twitter"></i></a>
           </li>
         </ul>
       </div>
     </div>
     <div class="row">
       <div class="col-xs-offset-4 col-xs-4 text-center">
         <p>Made with 💜 in Paris</p>
       </div>
     </div>
   </div>
 </div>
</div>