<div class="banner" style="background-image: url('<%= image_path("background.jpg")%>');">
  <div class="banner-content">
    <h1>You n' Art. </h1>
    <h3>Rent a masterpiece for your next events. </h3>
    <%= link_to 'Take a look', artworks_path, {class: "btn btn-primary"} %>
  </div>
</div>
