.booking-price-area {
    background-color: rgba(60,63,64,0.9);
    border: 0;
    color: #fff;
    height: 50px;
    padding: 13px 20px 5px;
    text-transform: capitalize;
    width: 315px;
}
.booking-price {
    margin: auto;
    font-size: 24px;
}
.price-frequency {
    float: right;
    padding: 3px 0;
    font-size: 14px;
}