.btn-booking {
    width: 99.5%;
    margin-top: 10px; 
    color: #4C4C4C;
    border: 1px solid #929395;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3c3f40;
        opacity: 0.9;
        text-decoration: none;
        color: white;
        border-color: #3c3f40;
    }
}

.btn-booking-dash {
    width: 30%;
    margin-top: 10px; 
    color: #4C4C4C;
    border: 1px solid #929395;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3c3f40;
        opacity: 0.9;
        text-decoration: none;
        color: white;
        border-color: #3c3f40;
    }
}

.btn-delete {
    width: 99.5%;
    margin-top: 10px; 
    color: #4C4C4C;
    border: 1px solid #929395;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
        background-color: #800000;
        opacity: 0.9;
        text-decoration: none;
        color: white;
        border-color: #800000;
    }
}

.btn-home {
    background: transparent;
    color: $mint;
    border: 2px solid $mint;
    padding: 10px 15px;
    border-radius: 50px;
    padding-bottom: 27px;
    transition: all 0.2s ease;
    &:hover {
        background-color: $mint;
        text-decoration: none;
        border-color: $mint;
    }
}

.btn-rounded {
    color: #4C4C4C;
    border: 1px solid #929395;
    padding: 7px 17px;
    margin-left: 10px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3c3f40;
        opacity: 0.9;
        text-decoration: none;
        color: white;
        border-color: #3c3f40;
    }
}

.btn-look {
    width: 99.5%;
    margin-top: 10px; 
    color: #4C4C4C;
    border: 1px solid #929395;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3c3f40;
        opacity: 0.9;
        text-decoration: none;
        color: white;
        border-color: #3c3f40;
    }
}